.github {
  color: white;
  display: flex;
  align-items: center;
  border-radius: .3rem;
  height: max-content;
  width: max-content;
  background: linear-gradient(#f7fcff 60%, #d0d7db);
  overflow: hidden;

  &__box {
    border: 1px solid #ced2d5;
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .5rem .7rem;

    &:hover {
      background: linear-gradient(#eef3f6 60%, #d0d7db);
    }

    i {
      font-size: 1.4rem;
      color: black;
    }

    p {
      font-size: 1.3rem;
      color: black;
    }

    &--animate {
      i.fa-star {
        animation: girar 1.5s linear infinite;
      }

      i.fa-code-branch {
        animation: tambalear .22s linear infinite alternate-reverse;
      }
    }
  }
}

@keyframes girar {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes tambalear {
  0% {
    transform: rotateZ(-25deg);
  }

  100% {
    transform: rotateZ(15deg);
  }
}