.info {
  background: white;
  padding: 1.5rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  /* HEADER */
  &__header {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__button-close {
    border: none;
    display: flex;
    // background: green;
    justify-content: end;
    background: transparent;

    i {
      font-size: 3rem;
    }

    &:hover {
      i {
        color: rgb(102, 102, 217);
      }
    }
  }

  &__title {
    font-size: 3.2rem;
    // margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // background: yellow;
  }

  /* DESCRIPCION */
  &__description {
    padding: 1.5rem;
    border-radius: .5rem;
    background: #eaffea;
    border: 1px solid rgb(127, 185, 130);
    text-align: center;
    width: max-content;
    max-width: 100%;
    margin: auto;

    * {
      font-size: 1.8rem;
      font-size: 1.82rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    strong {
      color: rgb(36, 66, 35);
      text-decoration: underline;
    }
  }

  @media (min-widtH: 460px) {
    min-height: auto;
  }

  @media (min-widtH: 720px) {
    border-radius: .5rem;
    width: clamp(200px, 90%, 1100px);
    max-height: 680px;
  }
}