@use '/src/styles/mixins' as m;

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  width: 250px;

  &__name {
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f7f7f7;
  }

  &__color {
    width: 20px;
    height: 20px;

    @include m.variantColors
  }
}