@use '/src/styles/mixins' as m;

.item {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__name {
    color: #f7f7f7;
  }

  &__color {
    width: 20px;
    height: 20px;
    // border-radius: .3rem;
    border-radius: .5rem;

    @include m.variantColors
  }
}