.item {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  gap: .5rem;

  &__color {
    width: 20px;
    height: 20px;
    border-radius: .3rem;

    &.green {
      background: green;
    }

    &.red {
      background: red;
    }

    &.yellow {
      background: yellow;
    }

    &.blue {
      background: blue;
    }
  }

  p {
    font-size: 2rem;
  }
}