.title {
  display: grid;
  justify-items: center;
  padding: clamp(1.6rem, 5vw, 5rem);
  padding-bottom: 1rem;

  &__text {
    font-size: clamp(1rem, 5vw, 3.5rem);
    text-align: center;
    color: white;
  }
}