$green: #8affe0;
$blue: #a1afff;
$violet: #ffafff;
$yellow: #ffff92;
$orange: #ffd797;
$green2: #a9ffad;
$blue2: #bcc5ff;
$orange2: #ffaaaa;
$gray: white;
$green3: #ff92a8;
$skyblue: #92e6ff;
$morado: #d0c1ff;
$pink: #ffc3f2;
$orange3: #fcd0ac;
$yellow2: #f0feab;
$green4: #6ccdef;
$white: #afced0;
$blue3: #f18abf;


// $green: #afffea;
// $blue: #a1afff;
// $violet: #ffafff;
// $yellow: #f0feab;
// $orange: #ffe5aa;
// $green2: #afffb5;
// $blue2: #d0c1ff;
// $orange2: #fcacac;
// $gray: #e5e5e9;