@use 'colors' as c;

@mixin variantColors() {
  &--green {
    background: c.$green;
  }

  &--blue {
    background: c.$blue;
  }

  &--violet {
    background: c.$violet;
  }

  &--yellow {
    background: c.$yellow;
  }

  &--orange {
    background: c.$orange;
  }

  &--orange4 {
    background: c.$orange;
  }

  &--green2 {
    background: c.$green2;
  }

  &--blue2 {
    background: c.$blue2;
  }

  &--orange2 {
    background: c.$orange2;
  }

  &--gray {
    background: c.$gray;
  }

  &--green3 {
    background: c.$green3;
  }

  &--skyblue {
    background: c.$skyblue;
  }

  &--morado {
    background: c.$morado;
  }

  &--pink {
    background: c.$pink;
  }

  &--orange3 {
    background: c.$orange3;
  }

  &--yellow2 {
    background: c.$yellow2;
  }

  &--green4 {
    background: c.$green4;
  }

  &--white {
    background: c.$white;
  }

  &--blue3 {
    background: c.$blue3;
  }

  &--gray-dark {
    background: c.$gray-dark;
  }
}