@mixin variantColors() {
  /* GRUPO 2 */

  // &--green {
  //   background: #8affe0;
  // }

  // &--blue {
  //   background: #a1afff;
  // }

  // &--violet {
  //   background: #ffafff;
  // }

  // &--yellow {
  //   background: #ffff92;
  // }

  // &--orange {
  //   background: #ffd797;
  // }

  // &--green2 {
  //   background: #a9ffad;
  // }

  // &--blue2 {
  //   background: #bcc5ff;
  // }

  // &--orange2 {
  //   background: #ffaaaa;
  // }

  // &--gray {
  //   background: #e5e5e9;
  // }

  /* GRUPO 3 */

  &--green {
    background: #afffea;
  }

  &--blue {
    background: #a1afff;
  }

  &--violet {
    background: #ffafff;
  }

  &--yellow {
    background: #f0feab;
  }

  &--orange {
    background: #ffe5aa;
  }

  &--green2 {
    background: #afffb5;
  }

  &--blue2 {
    background: #d0c1ff;
  }

  &--orange2 {
    background: #fcacac;
  }

  &--gray {
    background: #e5e5e9;
  }
}