@use 'colors' as c;

@mixin variantColors() {
  &--green {
    background: c.$green;
  }

  &--blue {
    background: c.$blue;
  }

  &--violet {
    background: c.$violet;
  }

  &--yellow {
    background: c.$yellow;
  }

  &--orange {
    background: c.$orange;
  }

  &--green2 {
    background: c.$green2;
  }

  &--blue2 {
    background: c.$blue2;
  }

  &--orange2 {
    background: c.$orange2;
  }

  &--gray {
    background: c.$gray;
  }
}