@use '/src/styles/mixins' as m;

.element {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
  outline: 1px solid rgb(0, 0, 0);
  position: relative;
  /* PARA PONER UN GUION AL FINAL SI NO CABE LA PALABRA */
  hyphens: auto;

  p {
    text-align: center;
    line-height: .75rem;
    font-size: .8rem;
  }

  span {
    position: absolute;
    font-size: clamp(.5rem, .6vw, .9rem);
    text-align: center;
    bottom: .5rem;
    color: transparent;
    padding: 0 .3rem;
    font-size: clamp(.5rem, .6vw, .8rem);
  }

  h3 {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-weight: 400;
    font-size: 1.2rem;
  }

  span,
  h3 {
    color: black;
    line-height: .38rem;
    font-size: .4rem;
    bottom: .3rem;
    color: transparent;
  }

  &:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, .8);
    z-index: 1;
    transform: scale(1.8);

    span,
    h3 {
      color: black;
    }
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: white;
    border: 1px solid #000;
    border-left: 0;
    border-top: 0;

    font-size: .3rem;
    padding: .19rem .25rem .25rem .16rem;
    border-radius: 0 0 .65rem 0;

    &:hover {
      background: white;
      color: black;
    }
  }

  @media (min-width: 640px) {
    i {
      font-size: .35rem;
      padding: .2rem .3rem .3rem .2rem;
      border-radius: 0 0 .65rem 0;
    }

    p {
      line-height: .85rem;
      font-size: 1rem;
    }

    span,
    h3 {
      color: black;
      line-height: .38rem;
      font-size: .45rem;
      bottom: .3rem;
      color: transparent;
    }
  }

  @media (min-width: 740px) {
    i {
      font-size: .5rem;
      padding: .3rem .4rem .4rem .3rem;
      border-radius: 0 0 .9rem 0;
    }
  }

  @media (min-width: 810px) {
    p {
      line-height: 1rem;
      font-size: 1.2rem;
    }

    span,
    h3 {
      color: black;
      line-height: .65rem;
      font-size: .6rem;
      bottom: .3rem;
      color: transparent;
    }
  }

  @media (min-width: 935px) {
    p {
      line-height: 1.15rem;
      font-size: 1.3rem;
    }
  }

  @media (min-width:1042px) {
    i {
      font-size: .7rem;
      padding: .35rem .55rem .55rem .35rem;
      border-radius: 0 0 1.1rem 0;
    }

    p {
      line-height: 1.4rem;
      font-size: 1.4rem;
    }

    span,
    h3 {
      color: black;
      line-height: .75rem;
      font-size: .7rem;
      bottom: .3rem;
      color: transparent;
    }
  }

  @media (min-width:1100px) {
    i {
      font-size: .7rem;
      padding: .35rem .55rem .55rem .35rem;
      border-radius: 0 0 1.1rem 0;
    }

    p {
      line-height: 1.4rem;
      font-size: 1.5rem;
    }

    span,
    h3 {
      color: black;
      line-height: .8rem;
      font-size: .7rem;
      bottom: .3rem;
      color: transparent;
    }
  }

  @media (min-width:1190px) {
    p {
      font-size: 1.8rem;
      line-height: 1.65rem;
    }

    span,
    h3 {
      line-height: .9rem;
      font-size: .85rem;
      bottom: .4rem;
      color: transparent;
    }
  }

  @include m.variantColors;
}