.element {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .6rem;

  p {
    text-align: center;
  }

  &:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, .8);
    z-index: 1;
    transform: scale(1.5);

  }

  &--green {
    background: linear-gradient(#87ff87, darken(#87ff87, 5));
  }

  &--blue {
    background: linear-gradient(#8391e3, darken(#8391e3, 5));
  }

  &--violet {
    background: linear-gradient(#f88ff8, darken(#f88ff8, 5));
  }

  &--yellow {
    background: linear-gradient(#eaea6b, darken(#eaea6b, 5));
  }

  &--orange {
    background: linear-gradient(#f9995e, darken(#f9995e, 5));
  }

  &--green2 {
    background: linear-gradient(#5ad660, darken(#5ad660, 5));
  }

  &--blue2 {
    background: linear-gradient(#a3b0ff, darken(#a3b0ff, 5));
  }

  &--orange2 {
    background: linear-gradient(#ff6363, darken(#ff6363, 5));
  }

  &--gray {
    background: linear-gradient(#ceced0, darken(#ceced0, 5));
  }

  // p {
  //   font-size: clamp(1rem, 2vw, 2rem);
  // }
}