@use '/src/styles/mixins' as m;

.element {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  outline: 1px solid rgb(0, 0, 0);
  border-radius: .4rem;

  p {
    text-align: center;
  }

  &:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, .8);
    z-index: 1;
    transform: scale(1.5);

  }

  @include m.variantColors;
}