.main {
  width: max-content;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  max-width: 1110px;
  max-width: 1120px;
  max-width: 1140px;
  max-width: 1180px;
  max-width: 1200px;
  max-width: 1250px;
  padding: 4rem 1rem 6rem;
}