.Home {
  display: flex;
  flex-direction: column;
  background: radial-gradient(#585861, #262734, #1b1c25);
  align-items: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  // gap: 6rem;
  // gap: 8rem;
  gap: 4rem;
}

summary {
  color: rgb(186, 186, 186);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}