.Home {
  display: flex;
  flex-direction: column;
  background: radial-gradient(#585861, #262734, #1b1c25);
  align-items: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

summary {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-deprecados {
  // border: 1px solid red;
  padding: 2rem 0 6rem;
}