.editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-direction: row;
  display: grid;
  grid-template-columns: 60% 39%;
  min-height: 470px;

  &__container-editors {
    display: flex;
    flex-direction: column;
  }

  &__container-titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
  }

  &__names {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    padding: .6rem 1rem;
    background: #f5f5f5;
    font-weight: bold;
    border-radius: .5rem .5rem 0 0;

    &:hover {
      background: #ededed;
    }
  }

  &__editor-code {
    border: 1px solid rgba(0, 0, 0, 0.25);
    flex-grow: 1;
  }

  &__container-iframe {
    display: flex;
    flex-direction: column;

    iframe {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.25);
      flex-grow: 1;
    }
  }
}