.distribution {
  padding: clamp(1.6rem, 5vw, 3rem);
  display: grid;
  gap: 1.3rem 8rem;
  margin: 8rem auto 2rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  max-width: 1100px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  max-width: 1300px;
}